a {
  border-bottom: 1px rgba(34, 34, 34, 0.29) dotted;
}

body {
  background-color: #e9e5dd;
}
ol {
  counter-reset: foobar;
}
ol li {
  list-style: none;
  margin-left: 1.5rem;
}
.nom li > :first-child {
  font-weight: 500;
  /* font-size: 1.1rem; */
}
ul > li {
  list-style-type: "•";
  padding-inline-start: 15px;
  margin-left: 10px;
}
p {
  margin-bottom: 1rem !important;
}
ol li:before {
  counter-increment: foobar;
  content: counter(foobar) ". ";
  font-weight: 500;
  /* font-size: 1.1rem; */
  position: absolute;
  margin-left: -1.5rem;
}
